@CHARSET "UTF-8";

.header{
	color:#797979;
	padding:20px;
}

ul{
	background-color:#fff;
	padding:0px 18px;
	margin-bottom:10px;
}
li{
	height:50px;
}

em{
	display:inline-block;
	color:#797979;
	height:50px;
	width:72px;
	line-height:50px;
	font-size:16px;	
}

.em_long{
	width:120px;
	text-align: left;
	
}

.em_long em{
	color:#797979;
    font-size:11px;
}

.input_normal{
 	background:transparent;
 	border:1px solid #ffffff;
 	width:60%;
    height:40px;
	line-height:40px;
	font-size:14px;
	padding-left:10px;
}
.input_validation{
 	width:40%;
	padding-left:0px;
}

#validation{
   	 border:1px solid #C4C4C4;	
	 display:block;
     width:90px;
     height:27px;
   	 line-height:27px;
     color:#474747;
     text-align: center;
     margin-top:13px;
     font-size:13px;     
}

#next{
	background-color:#FD980B;
	color:#fff;
	margin:50px 10px 100px ;
    display:block;
    height:40px;
	line-height:50px;
    text-align: center;
}

#save{
	background-color:#FD980B;
	color:#fff;
	margin:50px 10px 100px ;
    display:block;
    height:40px;
	line-height:50px;
    text-align: center;
}
#select, #validity_select,#cardType_select,#band_select{
/*     display: inline-block;
 */  
    text-align: center;  
    /* 加border只是为了看到边框*/  
    border:1px solid gray ; 
    color:gray ; 
    vertical-align: middle;
    width: 70%;
    font-size: 14px !important;
    height: 25px !important;
    line-height: 25px;
    text-indent: 0px !important;
	margin-left:5px;
}

#date_select{
	 text-align: center;  
    /* 加border只是为了看到边框*/  
    border:1px solid gray ; 
    color:gray ; 
    vertical-align: middle;
    width: 70%;
    font-size: 14px !important;
    height: 25px !important;
    line-height: 25px;
    text-indent: 0px !important;
	margin-left:5px;
}





