.modal-dialog
{
    margin-top: 50%;
    text-align: center;
}
.pwd_container>div
{
/*     float: left;
    width: 16%;
    margin: 10px auto; */

}
.modal-body
{
    height: 120px;
}
.modal-footer
{
    text-align: center;
}
.pwd_container>div>input
{
    height: 42px;
    border-radius: 0px;
}
.modal-button
{
    width:100px;
}
#txtsecuritypwd
{
   width: 250px;
   background: url('../image/myacct/pwdbg.png')  no-repeat;
   background-size:cover;
   text-align:justify;
   letter-spacing: 36px;
   text-indent: 5px;
   margin-left: auto;
   margin-right: auto;
   padding: 0px;
}