#top
{
    width: auto;
    height: 40px;
    background-color:#21292C;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
}
#top_left
{
    float:left;
    width:15%;
    height:40px;
}
#top_middle
{
    float:left;
    width:70%;
    height:40px;
    font-family: 'Microsoft Yahei','Simsun',Helvetica,Arial,sans-serif;
    font-size: 19px;
    font-weight: bold;
}
#top_right
{
    float:left;
    width:15%;
    height:40px;
    font-size: 20px;
}
.dv_clear
{
    clear:both;
}
body
{
    background-color: #F3F3F3;
    font-family: 微软雅黑;
}
.div_container
{
    padding: 10px;
}
.container_top
{
    background-color: #ffffff;
    width: 100%;
    height: 130px;
}
.container_mid
{
    background-color: #F3F3F3;
    height: 60%;
}

.container_top > table
{
    width: 100%;
    height: 100%;
    font-family:"微软雅黑";
    font-size: 25px;
    font-weight: bold;
    text-align: center;

}
.td02
{
    color:#ffA800;
    font-size:30px;
}
.td01>div
{
    width: 1px;
    height: 70%;
    background-color: #cccccc;
}
.list_gou
{
    float: right;	
}
.list_icon>img
{
	width:32px;
 	height:32px;

}
.list_icon>span
{
	margin-left:10px;
}
.list_gou>img
{
    width:9px;
    height:15px;
    margin-top:10px;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #777272;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #CFCFCF;
  border-radius: 10px;
}
.container_mid>.list-group>a>span
{
    color: #999999;
    font-weight: bold;
}
.div_container>.radio
{
    margin-left: 25px;
}
.div_container>.radio>label>span,.modal-body>span
{
    font-size: 16px;
}
.div_container>.radio>label>span>span,.modal-body>span>span
{
    margin-left: 10px;
    font-size: 12px;
    color:#999;
}
.div_container>.radio>div>span>span,.modal-body>span>span
{
    margin-left: 10px;
    font-size: 12px;
    color:#999;
}


.div_container_mid
{
    height: 60px;
    background-color: #fff;
    line-height: 60px;
}
.div_container_bottom
{
    height: 30px;
    color: #cccccc;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
}
.div_container_mid>span
{
    margin-left: 40px;
    font-size: 16px;
    font-weight: bold;
}
.div_container_mid>span>label
{
    margin-left: 10px;
    color: #999;
}
.div_container1
{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}
.div_container2
{
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #666;
}
.div_container3
{
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    color:#999;
}
.div_container4
{
    height: auto;
    background-color: #fff;
}
.div_container4>table
{
    width:100%;
    text-align: center;
    font-size: 16px;
    color: #666;
    font-weight: bold;
}
.td03,.td04
{
    text-align: right;
    padding-right: 20px;
    font-size: 12px;

}
.div_container4>table tr td
{
    padding: 10px;
}
.td04
{
    color:#ffa800;
}
.div_container_bank
{
    padding: 10px;
}
.div_container_bank>.list-group>.list-group-item
{
	height:80px;
}
.span1
{
	float:left;
	width:30%;
}
.span2
{
	float:left;
	width:50%;
	margin:10px;
    font-weight: bold;
}
.span2 span
{
	font-size:12px;
	color:#999;
}
.span3
{
	height:100%;
	float:right;
	margin-top:15px;
	vertical-align:middle;
}

.div_container_top{
    height: 40px;
    line-height: 40px;
    margin: 10px;
}
.div_container_top1
{
    height: 120px;
    line-height: 50px;
    background-color: #f6f6f6;
    padding: 10px;
}
.div_container_top2
{
    width: 100%;
    height: 50px;
}
.sp1
{
    color:#999;
    font-size: 16px;
	margin-left:10px;
}
.sp2
{
    color:#999;
    font-size: 12px;
    float: right;
}
.sp2>img
{
    margin-left: 20px;
}
.sp1>span
{
    margin:20px;
    color:#999;
    font-size: 12px;
}
.div_line
{
    background-color: #cccccc;
    height: 1px;
    width: 100%;
}
.div_container_top3
{
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
}
.sp3
{
    float: left;
    margin-left: 20px;
}
.sp4
{
    float: right;
    margin-right: 20px;
}
