@CHARSET "UTF-8";
img{
	background-color:blue;
	width:100%;
	height:100%;
}

.imgContainer{
	background-color:red;
	width:75px;
	height:75px;
	margin:15px auto;
	
}

.set_success{
	color:#101010;
	width:100%;
	height:30px;
    display:block;
	
	line-height:30px;
	text-align:center;
	font-size:17px;
	
}
.set_alert{
	color:#8A8A8A;
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
    display:block;
    font-size:12px;
}

#save{
	background-color:#FD980B;
	color:#fff;
	margin:50px 10px 50px ;
    display:block;
    height:50px;
	line-height:50px;
    text-align: center;
}