/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  background-color:#f4f4f4;
  font-family:微软雅黑;
}

/*段落样式:margin可以设置P中间间隙，text-indent:2em;每个段落缩进2个字符，line-height设置行间距*/
p {
  margin:14px 0 0 0;
  padding:0;
  text-indent:0em;
  line-height:20%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 200px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 200px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 200px;
}


/*div内文字水平垂直居中*/
.div-text-center{
  text-align:center;
  height:40px;
  line-height:40px;
}




