<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.gzesp.dao.persistence.TdAurDCOUNTMapper" >
  <resultMap id="BaseResultMap" type="com.ai.gzesp.dao.beans.TdAurDCOUNT" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="STORE_ID" property="storeId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="VISIT_DAY" property="visitDay" jdbcType="DECIMAL" />
    <result column="VISIT_MONTH" property="visitMonth" jdbcType="DECIMAL" />
    <result column="VISIT_TOTAL" property="visitTotal" jdbcType="DECIMAL" />
    <result column="VERSION_NO" property="versionNo" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, STORE_ID, USER_ID, VISIT_DAY, VISIT_MONTH, VISIT_TOTAL, VERSION_NO, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from AUR_D_COUNT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <delete id="deleteByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    delete from AUR_D_COUNT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.gzesp.dao.beans.TdAurDCOUNT" >
    insert into AUR_D_COUNT (ID, STORE_ID, USER_ID, 
      VISIT_DAY, VISIT_MONTH, VISIT_TOTAL, 
      VERSION_NO, UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{storeId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{visitDay,jdbcType=DECIMAL}, #{visitMonth,jdbcType=DECIMAL}, #{visitTotal,jdbcType=DECIMAL}, 
      #{versionNo,jdbcType=DECIMAL}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.gzesp.dao.beans.TdAurDCOUNT" >
    insert into AUR_D_COUNT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="storeId != null" >
        STORE_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="visitDay != null" >
        VISIT_DAY,
      </if>
      <if test="visitMonth != null" >
        VISIT_MONTH,
      </if>
      <if test="visitTotal != null" >
        VISIT_TOTAL,
      </if>
      <if test="versionNo != null" >
        VERSION_NO,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="visitDay != null" >
        #{visitDay,jdbcType=DECIMAL},
      </if>
      <if test="visitMonth != null" >
        #{visitMonth,jdbcType=DECIMAL},
      </if>
      <if test="visitTotal != null" >
        #{visitTotal,jdbcType=DECIMAL},
      </if>
      <if test="versionNo != null" >
        #{versionNo,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" resultType="java.lang.Integer" >
    select count(*) from AUR_D_COUNT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update AUR_D_COUNT
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.storeId != null" >
        STORE_ID = #{record.storeId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.visitDay != null" >
        VISIT_DAY = #{record.visitDay,jdbcType=DECIMAL},
      </if>
      <if test="record.visitMonth != null" >
        VISIT_MONTH = #{record.visitMonth,jdbcType=DECIMAL},
      </if>
      <if test="record.visitTotal != null" >
        VISIT_TOTAL = #{record.visitTotal,jdbcType=DECIMAL},
      </if>
      <if test="record.versionNo != null" >
        VERSION_NO = #{record.versionNo,jdbcType=DECIMAL},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update AUR_D_COUNT
    set ID = #{record.id,jdbcType=DECIMAL},
      STORE_ID = #{record.storeId,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      VISIT_DAY = #{record.visitDay,jdbcType=DECIMAL},
      VISIT_MONTH = #{record.visitMonth,jdbcType=DECIMAL},
      VISIT_TOTAL = #{record.visitTotal,jdbcType=DECIMAL},
      VERSION_NO = #{record.versionNo,jdbcType=DECIMAL},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>