<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.gzesp.dao.persistence.TdCmsPRULEMapper" >
  <resultMap id="BaseResultMap" type="com.ai.gzesp.dao.beans.TdCmsPRULE" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="COMMISSION_RULE" property="commissionRule" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="ADD_DATE" property="addDate" jdbcType="TIMESTAMP" />
    <result column="STAFF_ID" property="staffId" jdbcType="DECIMAL" />
    <result column="RULE_DESC" property="ruleDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, COMMISSION_RULE, STATUS, ADD_DATE, STAFF_ID, RULE_DESC
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CMS_P_RULE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CMS_P_RULE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CMS_P_RULE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    delete from CMS_P_RULE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.gzesp.dao.beans.TdCmsPRULE" >
    insert into CMS_P_RULE (ID, COMMISSION_RULE, STATUS, 
      ADD_DATE, STAFF_ID, RULE_DESC
      )
    values (#{id,jdbcType=DECIMAL}, #{commissionRule,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{addDate,jdbcType=TIMESTAMP}, #{staffId,jdbcType=DECIMAL}, #{ruleDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.gzesp.dao.beans.TdCmsPRULE" >
    insert into CMS_P_RULE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="commissionRule != null" >
        COMMISSION_RULE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="addDate != null" >
        ADD_DATE,
      </if>
      <if test="staffId != null" >
        STAFF_ID,
      </if>
      <if test="ruleDesc != null" >
        RULE_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="commissionRule != null" >
        #{commissionRule,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="addDate != null" >
        #{addDate,jdbcType=TIMESTAMP},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=DECIMAL},
      </if>
      <if test="ruleDesc != null" >
        #{ruleDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" resultType="java.lang.Integer" >
    select count(*) from CMS_P_RULE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CMS_P_RULE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.commissionRule != null" >
        COMMISSION_RULE = #{record.commissionRule,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.addDate != null" >
        ADD_DATE = #{record.addDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.staffId != null" >
        STAFF_ID = #{record.staffId,jdbcType=DECIMAL},
      </if>
      <if test="record.ruleDesc != null" >
        RULE_DESC = #{record.ruleDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CMS_P_RULE
    set ID = #{record.id,jdbcType=DECIMAL},
      COMMISSION_RULE = #{record.commissionRule,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=CHAR},
      ADD_DATE = #{record.addDate,jdbcType=TIMESTAMP},
      STAFF_ID = #{record.staffId,jdbcType=DECIMAL},
      RULE_DESC = #{record.ruleDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.gzesp.dao.beans.TdCmsPRULE" >
    update CMS_P_RULE
    <set >
      <if test="commissionRule != null" >
        COMMISSION_RULE = #{commissionRule,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="addDate != null" >
        ADD_DATE = #{addDate,jdbcType=TIMESTAMP},
      </if>
      <if test="staffId != null" >
        STAFF_ID = #{staffId,jdbcType=DECIMAL},
      </if>
      <if test="ruleDesc != null" >
        RULE_DESC = #{ruleDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.gzesp.dao.beans.TdCmsPRULE" >
    update CMS_P_RULE
    set COMMISSION_RULE = #{commissionRule,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      ADD_DATE = #{addDate,jdbcType=TIMESTAMP},
      STAFF_ID = #{staffId,jdbcType=DECIMAL},
      RULE_DESC = #{ruleDesc,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>