<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.gzesp.dao.persistence.TdGdsDPHOTOMapper" >
  <resultMap id="BaseResultMap" type="com.ai.gzesp.dao.beans.TdGdsDPHOTO" >
    <result column="ALBUM_ID" property="albumId" jdbcType="DECIMAL" />
    <result column="PHOTO_LINKS" property="photoLinks" jdbcType="VARCHAR" />
    <result column="PHOTO_NO" property="photoNo" jdbcType="DECIMAL" />
    <result column="DEFAULT_TAG" property="defaultTag" jdbcType="CHAR" />
    <result column="VALUES1" property="values1" jdbcType="VARCHAR" />
    <result column="VALUES2" property="values2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ALBUM_ID, PHOTO_LINKS, PHOTO_NO, DEFAULT_TAG, VALUES1, VALUES2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from GDS_D_PHOTO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <delete id="deleteByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    delete from GDS_D_PHOTO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.gzesp.dao.beans.TdGdsDPHOTO" >
    insert into GDS_D_PHOTO (ALBUM_ID, PHOTO_LINKS, PHOTO_NO, 
      DEFAULT_TAG, VALUES1, VALUES2
      )
    values (#{albumId,jdbcType=DECIMAL}, #{photoLinks,jdbcType=VARCHAR}, #{photoNo,jdbcType=DECIMAL}, 
      #{defaultTag,jdbcType=CHAR}, #{values1,jdbcType=VARCHAR}, #{values2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.gzesp.dao.beans.TdGdsDPHOTO" >
    insert into GDS_D_PHOTO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="albumId != null" >
        ALBUM_ID,
      </if>
      <if test="photoLinks != null" >
        PHOTO_LINKS,
      </if>
      <if test="photoNo != null" >
        PHOTO_NO,
      </if>
      <if test="defaultTag != null" >
        DEFAULT_TAG,
      </if>
      <if test="values1 != null" >
        VALUES1,
      </if>
      <if test="values2 != null" >
        VALUES2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="albumId != null" >
        #{albumId,jdbcType=DECIMAL},
      </if>
      <if test="photoLinks != null" >
        #{photoLinks,jdbcType=VARCHAR},
      </if>
      <if test="photoNo != null" >
        #{photoNo,jdbcType=DECIMAL},
      </if>
      <if test="defaultTag != null" >
        #{defaultTag,jdbcType=CHAR},
      </if>
      <if test="values1 != null" >
        #{values1,jdbcType=VARCHAR},
      </if>
      <if test="values2 != null" >
        #{values2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" resultType="java.lang.Integer" >
    select count(*) from GDS_D_PHOTO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update GDS_D_PHOTO
    <set >
      <if test="record.albumId != null" >
        ALBUM_ID = #{record.albumId,jdbcType=DECIMAL},
      </if>
      <if test="record.photoLinks != null" >
        PHOTO_LINKS = #{record.photoLinks,jdbcType=VARCHAR},
      </if>
      <if test="record.photoNo != null" >
        PHOTO_NO = #{record.photoNo,jdbcType=DECIMAL},
      </if>
      <if test="record.defaultTag != null" >
        DEFAULT_TAG = #{record.defaultTag,jdbcType=CHAR},
      </if>
      <if test="record.values1 != null" >
        VALUES1 = #{record.values1,jdbcType=VARCHAR},
      </if>
      <if test="record.values2 != null" >
        VALUES2 = #{record.values2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update GDS_D_PHOTO
    set ALBUM_ID = #{record.albumId,jdbcType=DECIMAL},
      PHOTO_LINKS = #{record.photoLinks,jdbcType=VARCHAR},
      PHOTO_NO = #{record.photoNo,jdbcType=DECIMAL},
      DEFAULT_TAG = #{record.defaultTag,jdbcType=CHAR},
      VALUES1 = #{record.values1,jdbcType=VARCHAR},
      VALUES2 = #{record.values2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>