<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.gzesp.dao.persistence.TdNumDRESERVEMapper" >
  <resultMap id="BaseResultMap" type="com.ai.gzesp.dao.beans.TdNumDRESERVE" >
    <id column="SERIAL_NUMBER" property="serialNumber" jdbcType="VARCHAR" />
    <result column="CODE_STATE" property="codeState" jdbcType="CHAR" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SERIAL_NUMBER, CODE_STATE, ADD_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from NUM_D_RESERVE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from NUM_D_RESERVE
    where SERIAL_NUMBER = #{serialNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from NUM_D_RESERVE
    where SERIAL_NUMBER = #{serialNumber,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    delete from NUM_D_RESERVE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.gzesp.dao.beans.TdNumDRESERVE" >
    insert into NUM_D_RESERVE (SERIAL_NUMBER, CODE_STATE, ADD_TIME
      )
    values (#{serialNumber,jdbcType=VARCHAR}, #{codeState,jdbcType=CHAR}, #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.gzesp.dao.beans.TdNumDRESERVE" >
    insert into NUM_D_RESERVE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNumber != null" >
        SERIAL_NUMBER,
      </if>
      <if test="codeState != null" >
        CODE_STATE,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="codeState != null" >
        #{codeState,jdbcType=CHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" resultType="java.lang.Integer" >
    select count(*) from NUM_D_RESERVE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update NUM_D_RESERVE
    <set >
      <if test="record.serialNumber != null" >
        SERIAL_NUMBER = #{record.serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.codeState != null" >
        CODE_STATE = #{record.codeState,jdbcType=CHAR},
      </if>
      <if test="record.addTime != null" >
        ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update NUM_D_RESERVE
    set SERIAL_NUMBER = #{record.serialNumber,jdbcType=VARCHAR},
      CODE_STATE = #{record.codeState,jdbcType=CHAR},
      ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.gzesp.dao.beans.TdNumDRESERVE" >
    update NUM_D_RESERVE
    <set >
      <if test="codeState != null" >
        CODE_STATE = #{codeState,jdbcType=CHAR},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SERIAL_NUMBER = #{serialNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.gzesp.dao.beans.TdNumDRESERVE" >
    update NUM_D_RESERVE
    set CODE_STATE = #{codeState,jdbcType=CHAR},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP}
    where SERIAL_NUMBER = #{serialNumber,jdbcType=VARCHAR}
  </update>
</mapper>