<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.gzesp.dao.persistence.TdOrdDBASEMapper" >
  <resultMap id="BaseResultMap" type="com.ai.gzesp.dao.beans.TdOrdDBASE" >
    <id column="ORDER_ID" property="orderId" jdbcType="DECIMAL" />
    <id column="PARTITION_ID" property="partitionId" jdbcType="DECIMAL" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ORDER_FROM" property="orderFrom" jdbcType="CHAR" />
    <result column="ORDER_TIME" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="ORIGINAL_PRICE" property="originalPrice" jdbcType="DECIMAL" />
    <result column="COUPON_MONEY" property="couponMoney" jdbcType="DECIMAL" />
    <result column="MAN_MADE_MONEY" property="manMadeMoney" jdbcType="DECIMAL" />
    <result column="POST_FEE" property="postFee" jdbcType="DECIMAL" />
    <result column="TOPAY_MONEY" property="topayMoney" jdbcType="DECIMAL" />
    <result column="INCOME_MONEY" property="incomeMoney" jdbcType="DECIMAL" />
    <result column="ORDER_STATE" property="orderState" jdbcType="CHAR" />
    <result column="CUST_REMARK" property="custRemark" jdbcType="VARCHAR" />
    <result column="SELLER_REMARK" property="sellerRemark" jdbcType="VARCHAR" />
    <result column="VALUES1" property="values1" jdbcType="VARCHAR" />
    <result column="VALUES2" property="values2" jdbcType="VARCHAR" />
    <result column="ORDER_TYPE" property="orderType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDER_ID, PARTITION_ID, ORDER_NO, CREATE_TIME, ORDER_FROM, ORDER_TIME, ORIGINAL_PRICE, 
    COUPON_MONEY, MAN_MADE_MONEY, POST_FEE, TOPAY_MONEY, INCOME_MONEY, ORDER_STATE, CUST_REMARK, 
    SELLER_REMARK, VALUES1, VALUES2, ORDER_TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ORD_D_BASE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ai.gzesp.dao.beans.TdOrdDBASEKey" >
    select 
    <include refid="Base_Column_List" />
    from ORD_D_BASE
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
      and PARTITION_ID = #{partitionId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ai.gzesp.dao.beans.TdOrdDBASEKey" >
    delete from ORD_D_BASE
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
      and PARTITION_ID = #{partitionId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    delete from ORD_D_BASE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.gzesp.dao.beans.TdOrdDBASE" >
    insert into ORD_D_BASE (ORDER_ID, PARTITION_ID, ORDER_NO, 
      CREATE_TIME, ORDER_FROM, ORDER_TIME, 
      ORIGINAL_PRICE, COUPON_MONEY, MAN_MADE_MONEY, 
      POST_FEE, TOPAY_MONEY, INCOME_MONEY, 
      ORDER_STATE, CUST_REMARK, SELLER_REMARK, 
      VALUES1, VALUES2)
    values (#{orderId,jdbcType=DECIMAL}, #{partitionId,jdbcType=DECIMAL}, #{orderNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderFrom,jdbcType=CHAR}, #{orderTime,jdbcType=TIMESTAMP}, 
      #{originalPrice,jdbcType=DECIMAL}, #{couponMoney,jdbcType=DECIMAL}, #{manMadeMoney,jdbcType=DECIMAL}, 
      #{postFee,jdbcType=DECIMAL}, #{topayMoney,jdbcType=DECIMAL}, #{incomeMoney,jdbcType=DECIMAL}, 
      #{orderState,jdbcType=CHAR}, #{custRemark,jdbcType=VARCHAR}, #{sellerRemark,jdbcType=VARCHAR}, 
      #{values1,jdbcType=VARCHAR}, #{values2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.gzesp.dao.beans.TdOrdDBASE" >
    insert into ORD_D_BASE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="partitionId != null" >
        PARTITION_ID,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="orderFrom != null" >
        ORDER_FROM,
      </if>
      <if test="orderTime != null" >
        ORDER_TIME,
      </if>
      <if test="originalPrice != null" >
        ORIGINAL_PRICE,
      </if>
      <if test="couponMoney != null" >
        COUPON_MONEY,
      </if>
      <if test="manMadeMoney != null" >
        MAN_MADE_MONEY,
      </if>
      <if test="postFee != null" >
        POST_FEE,
      </if>
      <if test="topayMoney != null" >
        TOPAY_MONEY,
      </if>
      <if test="incomeMoney != null" >
        INCOME_MONEY,
      </if>
      <if test="orderState != null" >
        ORDER_STATE,
      </if>
      <if test="custRemark != null" >
        CUST_REMARK,
      </if>
      <if test="sellerRemark != null" >
        SELLER_REMARK,
      </if>
      <if test="values1 != null" >
        VALUES1,
      </if>
      <if test="values2 != null" >
        VALUES2,
      </if>
      <if test="orderType != null" >
        ORDER_TYPE,
      </if>      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="partitionId != null" >
        #{partitionId,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderFrom != null" >
        #{orderFrom,jdbcType=CHAR},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="couponMoney != null" >
        #{couponMoney,jdbcType=DECIMAL},
      </if>
      <if test="manMadeMoney != null" >
        #{manMadeMoney,jdbcType=DECIMAL},
      </if>
      <if test="postFee != null" >
        #{postFee,jdbcType=DECIMAL},
      </if>
      <if test="topayMoney != null" >
        #{topayMoney,jdbcType=DECIMAL},
      </if>
      <if test="incomeMoney != null" >
        #{incomeMoney,jdbcType=DECIMAL},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=CHAR},
      </if>
      <if test="custRemark != null" >
        #{custRemark,jdbcType=VARCHAR},
      </if>
      <if test="sellerRemark != null" >
        #{sellerRemark,jdbcType=VARCHAR},
      </if>
      <if test="values1 != null" >
        #{values1,jdbcType=VARCHAR},
      </if>
      <if test="values2 != null" >
        #{values2,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>       
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" resultType="java.lang.Integer" >
    select count(*) from ORD_D_BASE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ORD_D_BASE
    <set >
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
      </if>
      <if test="record.partitionId != null" >
        PARTITION_ID = #{record.partitionId,jdbcType=DECIMAL},
      </if>
      <if test="record.orderNo != null" >
        ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderFrom != null" >
        ORDER_FROM = #{record.orderFrom,jdbcType=CHAR},
      </if>
      <if test="record.orderTime != null" >
        ORDER_TIME = #{record.orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.originalPrice != null" >
        ORIGINAL_PRICE = #{record.originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.couponMoney != null" >
        COUPON_MONEY = #{record.couponMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.manMadeMoney != null" >
        MAN_MADE_MONEY = #{record.manMadeMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.postFee != null" >
        POST_FEE = #{record.postFee,jdbcType=DECIMAL},
      </if>
      <if test="record.topayMoney != null" >
        TOPAY_MONEY = #{record.topayMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.incomeMoney != null" >
        INCOME_MONEY = #{record.incomeMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.orderState != null" >
        ORDER_STATE = #{record.orderState,jdbcType=CHAR},
      </if>
      <if test="record.custRemark != null" >
        CUST_REMARK = #{record.custRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerRemark != null" >
        SELLER_REMARK = #{record.sellerRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.values1 != null" >
        VALUES1 = #{record.values1,jdbcType=VARCHAR},
      </if>
      <if test="record.values2 != null" >
        VALUES2 = #{record.values2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ORD_D_BASE
    set ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
      PARTITION_ID = #{record.partitionId,jdbcType=DECIMAL},
      ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      ORDER_FROM = #{record.orderFrom,jdbcType=CHAR},
      ORDER_TIME = #{record.orderTime,jdbcType=TIMESTAMP},
      ORIGINAL_PRICE = #{record.originalPrice,jdbcType=DECIMAL},
      COUPON_MONEY = #{record.couponMoney,jdbcType=DECIMAL},
      MAN_MADE_MONEY = #{record.manMadeMoney,jdbcType=DECIMAL},
      POST_FEE = #{record.postFee,jdbcType=DECIMAL},
      TOPAY_MONEY = #{record.topayMoney,jdbcType=DECIMAL},
      INCOME_MONEY = #{record.incomeMoney,jdbcType=DECIMAL},
      ORDER_STATE = #{record.orderState,jdbcType=CHAR},
      CUST_REMARK = #{record.custRemark,jdbcType=VARCHAR},
      SELLER_REMARK = #{record.sellerRemark,jdbcType=VARCHAR},
      VALUES1 = #{record.values1,jdbcType=VARCHAR},
      VALUES2 = #{record.values2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.gzesp.dao.beans.TdOrdDBASE" >
    update ORD_D_BASE
    <set >
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderFrom != null" >
        ORDER_FROM = #{orderFrom,jdbcType=CHAR},
      </if>
      <if test="orderTime != null" >
        ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="originalPrice != null" >
        ORIGINAL_PRICE = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="couponMoney != null" >
        COUPON_MONEY = #{couponMoney,jdbcType=DECIMAL},
      </if>
      <if test="manMadeMoney != null" >
        MAN_MADE_MONEY = #{manMadeMoney,jdbcType=DECIMAL},
      </if>
      <if test="postFee != null" >
        POST_FEE = #{postFee,jdbcType=DECIMAL},
      </if>
      <if test="topayMoney != null" >
        TOPAY_MONEY = #{topayMoney,jdbcType=DECIMAL},
      </if>
      <if test="incomeMoney != null" >
        INCOME_MONEY = #{incomeMoney,jdbcType=DECIMAL},
      </if>
      <if test="orderState != null" >
        ORDER_STATE = #{orderState,jdbcType=CHAR},
      </if>
      <if test="custRemark != null" >
        CUST_REMARK = #{custRemark,jdbcType=VARCHAR},
      </if>
      <if test="sellerRemark != null" >
        SELLER_REMARK = #{sellerRemark,jdbcType=VARCHAR},
      </if>
      <if test="values1 != null" >
        VALUES1 = #{values1,jdbcType=VARCHAR},
      </if>
      <if test="values2 != null" >
        VALUES2 = #{values2,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
      and PARTITION_ID = #{partitionId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.gzesp.dao.beans.TdOrdDBASE" >
    update ORD_D_BASE
    set ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ORDER_FROM = #{orderFrom,jdbcType=CHAR},
      ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
      ORIGINAL_PRICE = #{originalPrice,jdbcType=DECIMAL},
      COUPON_MONEY = #{couponMoney,jdbcType=DECIMAL},
      MAN_MADE_MONEY = #{manMadeMoney,jdbcType=DECIMAL},
      POST_FEE = #{postFee,jdbcType=DECIMAL},
      TOPAY_MONEY = #{topayMoney,jdbcType=DECIMAL},
      INCOME_MONEY = #{incomeMoney,jdbcType=DECIMAL},
      ORDER_STATE = #{orderState,jdbcType=CHAR},
      CUST_REMARK = #{custRemark,jdbcType=VARCHAR},
      SELLER_REMARK = #{sellerRemark,jdbcType=VARCHAR},
      VALUES1 = #{values1,jdbcType=VARCHAR},
      VALUES2 = #{values2,jdbcType=VARCHAR}
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
      and PARTITION_ID = #{partitionId,jdbcType=DECIMAL}
  </update>
</mapper>