<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.gzesp.dao.persistence.TdOrdDREFUNDMapper" >
  <resultMap id="BaseResultMap" type="com.ai.gzesp.dao.beans.TdOrdDREFUND" >
    <id column="ORDER_ID" property="orderId" jdbcType="DECIMAL" />
    <id column="PARTITION_ID" property="partitionId" jdbcType="DECIMAL" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ORDER_FROM" property="orderFrom" jdbcType="CHAR" />
    <result column="ORDER_TIME" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="CUST_NAME" property="custName" jdbcType="VARCHAR" />
    <result column="PHONE_NUMBER" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="TXN_AMT" property="txnAmt" jdbcType="DECIMAL" />
    <result column="ORDER_STATE" property="orderState" jdbcType="CHAR" />
    <result column="REFUND_TYPE" property="refundType" jdbcType="CHAR" />
    <result column="REFUND_REASON" property="refundReason" jdbcType="VARCHAR" />
    <result column="REFUND_STATE" property="refundState" jdbcType="CHAR" />
    <result column="VALUES1" property="values1" jdbcType="VARCHAR" />
    <result column="VALUES2" property="values2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDER_ID, PARTITION_ID, ORDER_NO, CREATE_TIME, ORDER_FROM, ORDER_TIME, CUST_NAME, 
    PHONE_NUMBER, TXN_AMT, ORDER_STATE, REFUND_TYPE, REFUND_REASON, REFUND_STATE, VALUES1, 
    VALUES2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ORD_D_REFUND
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ai.gzesp.dao.beans.TdOrdDREFUNDKey" >
    select 
    <include refid="Base_Column_List" />
    from ORD_D_REFUND
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
      and PARTITION_ID = #{partitionId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ai.gzesp.dao.beans.TdOrdDREFUNDKey" >
    delete from ORD_D_REFUND
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
      and PARTITION_ID = #{partitionId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    delete from ORD_D_REFUND
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.gzesp.dao.beans.TdOrdDREFUND" >
    insert into ORD_D_REFUND (ORDER_ID, PARTITION_ID, ORDER_NO, 
      CREATE_TIME, ORDER_FROM, ORDER_TIME, 
      CUST_NAME, PHONE_NUMBER, TXN_AMT, 
      ORDER_STATE, REFUND_TYPE, REFUND_REASON, 
      REFUND_STATE, VALUES1, VALUES2
      )
    values (#{orderId,jdbcType=DECIMAL}, #{partitionId,jdbcType=DECIMAL}, #{orderNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderFrom,jdbcType=CHAR}, #{orderTime,jdbcType=TIMESTAMP}, 
      #{custName,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{txnAmt,jdbcType=DECIMAL}, 
      #{orderState,jdbcType=CHAR}, #{refundType,jdbcType=CHAR}, #{refundReason,jdbcType=VARCHAR}, 
      #{refundState,jdbcType=CHAR}, #{values1,jdbcType=VARCHAR}, #{values2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.gzesp.dao.beans.TdOrdDREFUND" >
    insert into ORD_D_REFUND
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="partitionId != null" >
        PARTITION_ID,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="orderFrom != null" >
        ORDER_FROM,
      </if>
      <if test="orderTime != null" >
        ORDER_TIME,
      </if>
      <if test="custName != null" >
        CUST_NAME,
      </if>
      <if test="phoneNumber != null" >
        PHONE_NUMBER,
      </if>
      <if test="txnAmt != null" >
        TXN_AMT,
      </if>
      <if test="orderState != null" >
        ORDER_STATE,
      </if>
      <if test="refundType != null" >
        REFUND_TYPE,
      </if>
      <if test="refundReason != null" >
        REFUND_REASON,
      </if>
      <if test="refundState != null" >
        REFUND_STATE,
      </if>
      <if test="values1 != null" >
        VALUES1,
      </if>
      <if test="values2 != null" >
        VALUES2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="partitionId != null" >
        #{partitionId,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderFrom != null" >
        #{orderFrom,jdbcType=CHAR},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="custName != null" >
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="txnAmt != null" >
        #{txnAmt,jdbcType=DECIMAL},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=CHAR},
      </if>
      <if test="refundType != null" >
        #{refundType,jdbcType=CHAR},
      </if>
      <if test="refundReason != null" >
        #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="refundState != null" >
        #{refundState,jdbcType=CHAR},
      </if>
      <if test="values1 != null" >
        #{values1,jdbcType=VARCHAR},
      </if>
      <if test="values2 != null" >
        #{values2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" resultType="java.lang.Integer" >
    select count(*) from ORD_D_REFUND
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ORD_D_REFUND
    <set >
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
      </if>
      <if test="record.partitionId != null" >
        PARTITION_ID = #{record.partitionId,jdbcType=DECIMAL},
      </if>
      <if test="record.orderNo != null" >
        ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderFrom != null" >
        ORDER_FROM = #{record.orderFrom,jdbcType=CHAR},
      </if>
      <if test="record.orderTime != null" >
        ORDER_TIME = #{record.orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.custName != null" >
        CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNumber != null" >
        PHONE_NUMBER = #{record.phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.txnAmt != null" >
        TXN_AMT = #{record.txnAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.orderState != null" >
        ORDER_STATE = #{record.orderState,jdbcType=CHAR},
      </if>
      <if test="record.refundType != null" >
        REFUND_TYPE = #{record.refundType,jdbcType=CHAR},
      </if>
      <if test="record.refundReason != null" >
        REFUND_REASON = #{record.refundReason,jdbcType=VARCHAR},
      </if>
      <if test="record.refundState != null" >
        REFUND_STATE = #{record.refundState,jdbcType=CHAR},
      </if>
      <if test="record.values1 != null" >
        VALUES1 = #{record.values1,jdbcType=VARCHAR},
      </if>
      <if test="record.values2 != null" >
        VALUES2 = #{record.values2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ORD_D_REFUND
    set ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
      PARTITION_ID = #{record.partitionId,jdbcType=DECIMAL},
      ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      ORDER_FROM = #{record.orderFrom,jdbcType=CHAR},
      ORDER_TIME = #{record.orderTime,jdbcType=TIMESTAMP},
      CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      PHONE_NUMBER = #{record.phoneNumber,jdbcType=VARCHAR},
      TXN_AMT = #{record.txnAmt,jdbcType=DECIMAL},
      ORDER_STATE = #{record.orderState,jdbcType=CHAR},
      REFUND_TYPE = #{record.refundType,jdbcType=CHAR},
      REFUND_REASON = #{record.refundReason,jdbcType=VARCHAR},
      REFUND_STATE = #{record.refundState,jdbcType=CHAR},
      VALUES1 = #{record.values1,jdbcType=VARCHAR},
      VALUES2 = #{record.values2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.gzesp.dao.beans.TdOrdDREFUND" >
    update ORD_D_REFUND
    <set >
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderFrom != null" >
        ORDER_FROM = #{orderFrom,jdbcType=CHAR},
      </if>
      <if test="orderTime != null" >
        ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="custName != null" >
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="txnAmt != null" >
        TXN_AMT = #{txnAmt,jdbcType=DECIMAL},
      </if>
      <if test="orderState != null" >
        ORDER_STATE = #{orderState,jdbcType=CHAR},
      </if>
      <if test="refundType != null" >
        REFUND_TYPE = #{refundType,jdbcType=CHAR},
      </if>
      <if test="refundReason != null" >
        REFUND_REASON = #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="refundState != null" >
        REFUND_STATE = #{refundState,jdbcType=CHAR},
      </if>
      <if test="values1 != null" >
        VALUES1 = #{values1,jdbcType=VARCHAR},
      </if>
      <if test="values2 != null" >
        VALUES2 = #{values2,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
      and PARTITION_ID = #{partitionId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.gzesp.dao.beans.TdOrdDREFUND" >
    update ORD_D_REFUND
    set ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ORDER_FROM = #{orderFrom,jdbcType=CHAR},
      ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
      CUST_NAME = #{custName,jdbcType=VARCHAR},
      PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      TXN_AMT = #{txnAmt,jdbcType=DECIMAL},
      ORDER_STATE = #{orderState,jdbcType=CHAR},
      REFUND_TYPE = #{refundType,jdbcType=CHAR},
      REFUND_REASON = #{refundReason,jdbcType=VARCHAR},
      REFUND_STATE = #{refundState,jdbcType=CHAR},
      VALUES1 = #{values1,jdbcType=VARCHAR},
      VALUES2 = #{values2,jdbcType=VARCHAR}
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
      and PARTITION_ID = #{partitionId,jdbcType=DECIMAL}
  </update>
</mapper>