<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.gzesp.dao.persistence.TdOrdDDEALMapper" >
  <resultMap id="BaseResultMap" type="com.ai.gzesp.dao.beans.TdOrdDDEAL" >
    <id column="ORDER_ID" property="orderId" jdbcType="DECIMAL" />
    <id column="PARTITION_ID" property="partitionId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="DEVLOP_ID" property="devlopId" jdbcType="VARCHAR" />
    <result column="DEVLOP_NAME" property="devlopName" jdbcType="VARCHAR" />
    <result column="SIMCARD" property="simcard" jdbcType="VARCHAR" />
    <result column="TERM_ID" property="termId" jdbcType="VARCHAR" />
    <result column="PHONE_NUMBER" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="IMSI" property="imsi" jdbcType="VARCHAR" />
    <result column="INVOCE_TITLE" property="invoceTitle" jdbcType="VARCHAR" />
    <result column="INVOCE_CONTENT" property="invoceContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDER_ID, PARTITION_ID, USER_ID, USER_NAME, DEVLOP_ID, DEVLOP_NAME, SIMCARD, TERM_ID, 
    PHONE_NUMBER, IMSI, INVOCE_TITLE, INVOCE_CONTENT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ORD_D_DEAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ai.gzesp.dao.beans.TdOrdDDEALKey" >
    select 
    <include refid="Base_Column_List" />
    from ORD_D_DEAL
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
      and PARTITION_ID = #{partitionId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ai.gzesp.dao.beans.TdOrdDDEALKey" >
    delete from ORD_D_DEAL
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
      and PARTITION_ID = #{partitionId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    delete from ORD_D_DEAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.gzesp.dao.beans.TdOrdDDEAL" >
    insert into ORD_D_DEAL (ORDER_ID, PARTITION_ID, USER_ID, 
      USER_NAME, DEVLOP_ID, DEVLOP_NAME, 
      SIMCARD, TERM_ID, PHONE_NUMBER, 
      IMSI, INVOCE_TITLE, INVOCE_CONTENT
      )
    values (#{orderId,jdbcType=DECIMAL}, #{partitionId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, 
      #{userName,jdbcType=VARCHAR}, #{devlopId,jdbcType=VARCHAR}, #{devlopName,jdbcType=VARCHAR}, 
      #{simcard,jdbcType=VARCHAR}, #{termId,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{imsi,jdbcType=VARCHAR}, #{invoceTitle,jdbcType=VARCHAR}, #{invoceContent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.gzesp.dao.beans.TdOrdDDEAL" >
    insert into ORD_D_DEAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="partitionId != null" >
        PARTITION_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="devlopId != null" >
        DEVLOP_ID,
      </if>
      <if test="devlopName != null" >
        DEVLOP_NAME,
      </if>
      <if test="simcard != null" >
        SIMCARD,
      </if>
      <if test="termId != null" >
        TERM_ID,
      </if>
      <if test="phoneNumber != null" >
        PHONE_NUMBER,
      </if>
      <if test="imsi != null" >
        IMSI,
      </if>
      <if test="invoceTitle != null" >
        INVOCE_TITLE,
      </if>
      <if test="invoceContent != null" >
        INVOCE_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="partitionId != null" >
        #{partitionId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="devlopId != null" >
        #{devlopId,jdbcType=VARCHAR},
      </if>
      <if test="devlopName != null" >
        #{devlopName,jdbcType=VARCHAR},
      </if>
      <if test="simcard != null" >
        #{simcard,jdbcType=VARCHAR},
      </if>
      <if test="termId != null" >
        #{termId,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="imsi != null" >
        #{imsi,jdbcType=VARCHAR},
      </if>
      <if test="invoceTitle != null" >
        #{invoceTitle,jdbcType=VARCHAR},
      </if>
      <if test="invoceContent != null" >
        #{invoceContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" resultType="java.lang.Integer" >
    select count(*) from ORD_D_DEAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ORD_D_DEAL
    <set >
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
      </if>
      <if test="record.partitionId != null" >
        PARTITION_ID = #{record.partitionId,jdbcType=DECIMAL},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=DECIMAL},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.devlopId != null" >
        DEVLOP_ID = #{record.devlopId,jdbcType=VARCHAR},
      </if>
      <if test="record.devlopName != null" >
        DEVLOP_NAME = #{record.devlopName,jdbcType=VARCHAR},
      </if>
      <if test="record.simcard != null" >
        SIMCARD = #{record.simcard,jdbcType=VARCHAR},
      </if>
      <if test="record.termId != null" >
        TERM_ID = #{record.termId,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNumber != null" >
        PHONE_NUMBER = #{record.phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.imsi != null" >
        IMSI = #{record.imsi,jdbcType=VARCHAR},
      </if>
      <if test="record.invoceTitle != null" >
        INVOCE_TITLE = #{record.invoceTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.invoceContent != null" >
        INVOCE_CONTENT = #{record.invoceContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ORD_D_DEAL
    set ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
      PARTITION_ID = #{record.partitionId,jdbcType=DECIMAL},
      USER_ID = #{record.userId,jdbcType=DECIMAL},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      DEVLOP_ID = #{record.devlopId,jdbcType=VARCHAR},
      DEVLOP_NAME = #{record.devlopName,jdbcType=VARCHAR},
      SIMCARD = #{record.simcard,jdbcType=VARCHAR},
      TERM_ID = #{record.termId,jdbcType=VARCHAR},
      PHONE_NUMBER = #{record.phoneNumber,jdbcType=VARCHAR},
      IMSI = #{record.imsi,jdbcType=VARCHAR},
      INVOCE_TITLE = #{record.invoceTitle,jdbcType=VARCHAR},
      INVOCE_CONTENT = #{record.invoceContent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.gzesp.dao.beans.TdOrdDDEAL" >
    update ORD_D_DEAL
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="devlopId != null" >
        DEVLOP_ID = #{devlopId,jdbcType=VARCHAR},
      </if>
      <if test="devlopName != null" >
        DEVLOP_NAME = #{devlopName,jdbcType=VARCHAR},
      </if>
      <if test="simcard != null" >
        SIMCARD = #{simcard,jdbcType=VARCHAR},
      </if>
      <if test="termId != null" >
        TERM_ID = #{termId,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="imsi != null" >
        IMSI = #{imsi,jdbcType=VARCHAR},
      </if>
      <if test="invoceTitle != null" >
        INVOCE_TITLE = #{invoceTitle,jdbcType=VARCHAR},
      </if>
      <if test="invoceContent != null" >
        INVOCE_CONTENT = #{invoceContent,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
      and PARTITION_ID = #{partitionId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.gzesp.dao.beans.TdOrdDDEAL" >
    update ORD_D_DEAL
    set USER_ID = #{userId,jdbcType=DECIMAL},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      DEVLOP_ID = #{devlopId,jdbcType=VARCHAR},
      DEVLOP_NAME = #{devlopName,jdbcType=VARCHAR},
      SIMCARD = #{simcard,jdbcType=VARCHAR},
      TERM_ID = #{termId,jdbcType=VARCHAR},
      PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      IMSI = #{imsi,jdbcType=VARCHAR},
      INVOCE_TITLE = #{invoceTitle,jdbcType=VARCHAR},
      INVOCE_CONTENT = #{invoceContent,jdbcType=VARCHAR}
    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
      and PARTITION_ID = #{partitionId,jdbcType=DECIMAL}
  </update>
</mapper>