<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.gzesp.dao.persistence.TdPayDWEIXINLOGMapper" >
  <resultMap id="BaseResultMap" type="com.ai.gzesp.dao.beans.TdPayDWEIXINLOG" >
    <id column="LOG_ID" property="logId" jdbcType="DECIMAL" />
    <result column="PARTITION_ID" property="partitionId" jdbcType="DECIMAL" />
    <result column="REQ_TYPE" property="reqType" jdbcType="VARCHAR" />
    <result column="RETURN_CODE" property="returnCode" jdbcType="VARCHAR" />
    <result column="RETURN_MSG" property="returnMsg" jdbcType="VARCHAR" />
    <result column="APP_ID" property="appId" jdbcType="VARCHAR" />
    <result column="MCH_ID" property="mchId" jdbcType="VARCHAR" />
    <result column="DEVICE_INFO" property="deviceInfo" jdbcType="VARCHAR" />
    <result column="NONCE_STR" property="nonceStr" jdbcType="VARCHAR" />
    <result column="SIGN" property="sign" jdbcType="VARCHAR" />
    <result column="RESULT_CODE" property="resultCode" jdbcType="VARCHAR" />
    <result column="ERR_CODE" property="errCode" jdbcType="VARCHAR" />
    <result column="ERR_CODE_DES" property="errCodeDes" jdbcType="VARCHAR" />
    <result column="OPEN_ID" property="openId" jdbcType="VARCHAR" />
    <result column="IS_SUBSCRIBE" property="isSubscribe" jdbcType="CHAR" />
    <result column="TRADE_TYPE" property="tradeType" jdbcType="VARCHAR" />
    <result column="BANK_TYPE" property="bankType" jdbcType="VARCHAR" />
    <result column="TOTAL_FEE" property="totalFee" jdbcType="DECIMAL" />
    <result column="FEE_TYPE" property="feeType" jdbcType="VARCHAR" />
    <result column="CASH_FEE" property="cashFee" jdbcType="DECIMAL" />
    <result column="CASH_FEE_TYPE" property="cashFeeType" jdbcType="VARCHAR" />
    <result column="TRANSACTION_ID" property="transactionId" jdbcType="VARCHAR" />
    <result column="OUTER_TRADE_NO" property="outerTradeNo" jdbcType="VARCHAR" />
    <result column="TIME_END" property="timeEnd" jdbcType="VARCHAR" />
    <result column="OUT_REFUND_NO" property="outRefundNo" jdbcType="VARCHAR" />
    <result column="REFUND_FEE" property="refundFee" jdbcType="DECIMAL" />
    <result column="TRADE_STATE" property="tradeState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LOG_ID, PARTITION_ID, REQ_TYPE, RETURN_CODE, RETURN_MSG, APP_ID, MCH_ID, DEVICE_INFO, 
    NONCE_STR, SIGN, RESULT_CODE, ERR_CODE, ERR_CODE_DES, OPEN_ID, IS_SUBSCRIBE, TRADE_TYPE, 
    BANK_TYPE, TOTAL_FEE, FEE_TYPE, CASH_FEE, CASH_FEE_TYPE, TRANSACTION_ID, OUTER_TRADE_NO, 
    TIME_END, OUT_REFUND_NO, REFUND_FEE, TRADE_STATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PAY_D_WEIXIN_LOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from PAY_D_WEIXIN_LOG
    where LOG_ID = #{logId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from PAY_D_WEIXIN_LOG
    where LOG_ID = #{logId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    delete from PAY_D_WEIXIN_LOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.gzesp.dao.beans.TdPayDWEIXINLOG" >
    insert into PAY_D_WEIXIN_LOG (LOG_ID, PARTITION_ID, REQ_TYPE, 
      RETURN_CODE, RETURN_MSG, APP_ID, 
      MCH_ID, DEVICE_INFO, NONCE_STR, 
      SIGN, RESULT_CODE, ERR_CODE, 
      ERR_CODE_DES, OPEN_ID, IS_SUBSCRIBE, 
      TRADE_TYPE, BANK_TYPE, TOTAL_FEE, 
      FEE_TYPE, CASH_FEE, CASH_FEE_TYPE, 
      TRANSACTION_ID, OUTER_TRADE_NO, TIME_END, 
      OUT_REFUND_NO, REFUND_FEE, TRADE_STATE
      )
    values (#{logId,jdbcType=DECIMAL}, #{partitionId,jdbcType=DECIMAL}, #{reqType,jdbcType=VARCHAR}, 
      #{returnCode,jdbcType=VARCHAR}, #{returnMsg,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{mchId,jdbcType=VARCHAR}, #{deviceInfo,jdbcType=VARCHAR}, #{nonceStr,jdbcType=VARCHAR}, 
      #{sign,jdbcType=VARCHAR}, #{resultCode,jdbcType=VARCHAR}, #{errCode,jdbcType=VARCHAR}, 
      #{errCodeDes,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{isSubscribe,jdbcType=CHAR}, 
      #{tradeType,jdbcType=VARCHAR}, #{bankType,jdbcType=VARCHAR}, #{totalFee,jdbcType=DECIMAL}, 
      #{feeType,jdbcType=VARCHAR}, #{cashFee,jdbcType=DECIMAL}, #{cashFeeType,jdbcType=VARCHAR}, 
      #{transactionId,jdbcType=VARCHAR}, #{outerTradeNo,jdbcType=VARCHAR}, #{timeEnd,jdbcType=VARCHAR}, 
      #{outRefundNo,jdbcType=VARCHAR}, #{refundFee,jdbcType=DECIMAL}, #{tradeState,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.gzesp.dao.beans.TdPayDWEIXINLOG" >
    insert into PAY_D_WEIXIN_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        LOG_ID,
      </if>
      <if test="partitionId != null" >
        PARTITION_ID,
      </if>
      <if test="reqType != null" >
        REQ_TYPE,
      </if>
      <if test="returnCode != null" >
        RETURN_CODE,
      </if>
      <if test="returnMsg != null" >
        RETURN_MSG,
      </if>
      <if test="appId != null" >
        APP_ID,
      </if>
      <if test="mchId != null" >
        MCH_ID,
      </if>
      <if test="deviceInfo != null" >
        DEVICE_INFO,
      </if>
      <if test="nonceStr != null" >
        NONCE_STR,
      </if>
      <if test="sign != null" >
        SIGN,
      </if>
      <if test="resultCode != null" >
        RESULT_CODE,
      </if>
      <if test="errCode != null" >
        ERR_CODE,
      </if>
      <if test="errCodeDes != null" >
        ERR_CODE_DES,
      </if>
      <if test="openId != null" >
        OPEN_ID,
      </if>
      <if test="isSubscribe != null" >
        IS_SUBSCRIBE,
      </if>
      <if test="tradeType != null" >
        TRADE_TYPE,
      </if>
      <if test="bankType != null" >
        BANK_TYPE,
      </if>
      <if test="totalFee != null" >
        TOTAL_FEE,
      </if>
      <if test="feeType != null" >
        FEE_TYPE,
      </if>
      <if test="cashFee != null" >
        CASH_FEE,
      </if>
      <if test="cashFeeType != null" >
        CASH_FEE_TYPE,
      </if>
      <if test="transactionId != null" >
        TRANSACTION_ID,
      </if>
      <if test="outerTradeNo != null" >
        OUTER_TRADE_NO,
      </if>
      <if test="timeEnd != null" >
        TIME_END,
      </if>
      <if test="outRefundNo != null" >
        OUT_REFUND_NO,
      </if>
      <if test="refundFee != null" >
        REFUND_FEE,
      </if>
      <if test="tradeState != null" >
        TRADE_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=DECIMAL},
      </if>
      <if test="partitionId != null" >
        #{partitionId,jdbcType=DECIMAL},
      </if>
      <if test="reqType != null" >
        #{reqType,jdbcType=VARCHAR},
      </if>
      <if test="returnCode != null" >
        #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null" >
        #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null" >
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null" >
        #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null" >
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null" >
        #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null" >
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDes != null" >
        #{errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="isSubscribe != null" >
        #{isSubscribe,jdbcType=CHAR},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null" >
        #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="feeType != null" >
        #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="cashFee != null" >
        #{cashFee,jdbcType=DECIMAL},
      </if>
      <if test="cashFeeType != null" >
        #{cashFeeType,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="outerTradeNo != null" >
        #{outerTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null" >
        #{timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="outRefundNo != null" >
        #{outRefundNo,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null" >
        #{refundFee,jdbcType=DECIMAL},
      </if>
      <if test="tradeState != null" >
        #{tradeState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" resultType="java.lang.Integer" >
    select count(*) from PAY_D_WEIXIN_LOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PAY_D_WEIXIN_LOG
    <set >
      <if test="record.logId != null" >
        LOG_ID = #{record.logId,jdbcType=DECIMAL},
      </if>
      <if test="record.partitionId != null" >
        PARTITION_ID = #{record.partitionId,jdbcType=DECIMAL},
      </if>
      <if test="record.reqType != null" >
        REQ_TYPE = #{record.reqType,jdbcType=VARCHAR},
      </if>
      <if test="record.returnCode != null" >
        RETURN_CODE = #{record.returnCode,jdbcType=VARCHAR},
      </if>
      <if test="record.returnMsg != null" >
        RETURN_MSG = #{record.returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.appId != null" >
        APP_ID = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.mchId != null" >
        MCH_ID = #{record.mchId,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceInfo != null" >
        DEVICE_INFO = #{record.deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.nonceStr != null" >
        NONCE_STR = #{record.nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="record.sign != null" >
        SIGN = #{record.sign,jdbcType=VARCHAR},
      </if>
      <if test="record.resultCode != null" >
        RESULT_CODE = #{record.resultCode,jdbcType=VARCHAR},
      </if>
      <if test="record.errCode != null" >
        ERR_CODE = #{record.errCode,jdbcType=VARCHAR},
      </if>
      <if test="record.errCodeDes != null" >
        ERR_CODE_DES = #{record.errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="record.openId != null" >
        OPEN_ID = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.isSubscribe != null" >
        IS_SUBSCRIBE = #{record.isSubscribe,jdbcType=CHAR},
      </if>
      <if test="record.tradeType != null" >
        TRADE_TYPE = #{record.tradeType,jdbcType=VARCHAR},
      </if>
      <if test="record.bankType != null" >
        BANK_TYPE = #{record.bankType,jdbcType=VARCHAR},
      </if>
      <if test="record.totalFee != null" >
        TOTAL_FEE = #{record.totalFee,jdbcType=DECIMAL},
      </if>
      <if test="record.feeType != null" >
        FEE_TYPE = #{record.feeType,jdbcType=VARCHAR},
      </if>
      <if test="record.cashFee != null" >
        CASH_FEE = #{record.cashFee,jdbcType=DECIMAL},
      </if>
      <if test="record.cashFeeType != null" >
        CASH_FEE_TYPE = #{record.cashFeeType,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionId != null" >
        TRANSACTION_ID = #{record.transactionId,jdbcType=VARCHAR},
      </if>
      <if test="record.outerTradeNo != null" >
        OUTER_TRADE_NO = #{record.outerTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.timeEnd != null" >
        TIME_END = #{record.timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.outRefundNo != null" >
        OUT_REFUND_NO = #{record.outRefundNo,jdbcType=VARCHAR},
      </if>
      <if test="record.refundFee != null" >
        REFUND_FEE = #{record.refundFee,jdbcType=DECIMAL},
      </if>
      <if test="record.tradeState != null" >
        TRADE_STATE = #{record.tradeState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PAY_D_WEIXIN_LOG
    set LOG_ID = #{record.logId,jdbcType=DECIMAL},
      PARTITION_ID = #{record.partitionId,jdbcType=DECIMAL},
      REQ_TYPE = #{record.reqType,jdbcType=VARCHAR},
      RETURN_CODE = #{record.returnCode,jdbcType=VARCHAR},
      RETURN_MSG = #{record.returnMsg,jdbcType=VARCHAR},
      APP_ID = #{record.appId,jdbcType=VARCHAR},
      MCH_ID = #{record.mchId,jdbcType=VARCHAR},
      DEVICE_INFO = #{record.deviceInfo,jdbcType=VARCHAR},
      NONCE_STR = #{record.nonceStr,jdbcType=VARCHAR},
      SIGN = #{record.sign,jdbcType=VARCHAR},
      RESULT_CODE = #{record.resultCode,jdbcType=VARCHAR},
      ERR_CODE = #{record.errCode,jdbcType=VARCHAR},
      ERR_CODE_DES = #{record.errCodeDes,jdbcType=VARCHAR},
      OPEN_ID = #{record.openId,jdbcType=VARCHAR},
      IS_SUBSCRIBE = #{record.isSubscribe,jdbcType=CHAR},
      TRADE_TYPE = #{record.tradeType,jdbcType=VARCHAR},
      BANK_TYPE = #{record.bankType,jdbcType=VARCHAR},
      TOTAL_FEE = #{record.totalFee,jdbcType=DECIMAL},
      FEE_TYPE = #{record.feeType,jdbcType=VARCHAR},
      CASH_FEE = #{record.cashFee,jdbcType=DECIMAL},
      CASH_FEE_TYPE = #{record.cashFeeType,jdbcType=VARCHAR},
      TRANSACTION_ID = #{record.transactionId,jdbcType=VARCHAR},
      OUTER_TRADE_NO = #{record.outerTradeNo,jdbcType=VARCHAR},
      TIME_END = #{record.timeEnd,jdbcType=VARCHAR},
      OUT_REFUND_NO = #{record.outRefundNo,jdbcType=VARCHAR},
      REFUND_FEE = #{record.refundFee,jdbcType=DECIMAL},
      TRADE_STATE = #{record.tradeState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.gzesp.dao.beans.TdPayDWEIXINLOG" >
    update PAY_D_WEIXIN_LOG
    <set >
      <if test="partitionId != null" >
        PARTITION_ID = #{partitionId,jdbcType=DECIMAL},
      </if>
      <if test="reqType != null" >
        REQ_TYPE = #{reqType,jdbcType=VARCHAR},
      </if>
      <if test="returnCode != null" >
        RETURN_CODE = #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null" >
        RETURN_MSG = #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        APP_ID = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null" >
        MCH_ID = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null" >
        DEVICE_INFO = #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null" >
        NONCE_STR = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        SIGN = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null" >
        RESULT_CODE = #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null" >
        ERR_CODE = #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDes != null" >
        ERR_CODE_DES = #{errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        OPEN_ID = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="isSubscribe != null" >
        IS_SUBSCRIBE = #{isSubscribe,jdbcType=CHAR},
      </if>
      <if test="tradeType != null" >
        TRADE_TYPE = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null" >
        BANK_TYPE = #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        TOTAL_FEE = #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="feeType != null" >
        FEE_TYPE = #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="cashFee != null" >
        CASH_FEE = #{cashFee,jdbcType=DECIMAL},
      </if>
      <if test="cashFeeType != null" >
        CASH_FEE_TYPE = #{cashFeeType,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        TRANSACTION_ID = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="outerTradeNo != null" >
        OUTER_TRADE_NO = #{outerTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null" >
        TIME_END = #{timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="outRefundNo != null" >
        OUT_REFUND_NO = #{outRefundNo,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null" >
        REFUND_FEE = #{refundFee,jdbcType=DECIMAL},
      </if>
      <if test="tradeState != null" >
        TRADE_STATE = #{tradeState,jdbcType=VARCHAR},
      </if>
    </set>
    where LOG_ID = #{logId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.gzesp.dao.beans.TdPayDWEIXINLOG" >
    update PAY_D_WEIXIN_LOG
    set PARTITION_ID = #{partitionId,jdbcType=DECIMAL},
      REQ_TYPE = #{reqType,jdbcType=VARCHAR},
      RETURN_CODE = #{returnCode,jdbcType=VARCHAR},
      RETURN_MSG = #{returnMsg,jdbcType=VARCHAR},
      APP_ID = #{appId,jdbcType=VARCHAR},
      MCH_ID = #{mchId,jdbcType=VARCHAR},
      DEVICE_INFO = #{deviceInfo,jdbcType=VARCHAR},
      NONCE_STR = #{nonceStr,jdbcType=VARCHAR},
      SIGN = #{sign,jdbcType=VARCHAR},
      RESULT_CODE = #{resultCode,jdbcType=VARCHAR},
      ERR_CODE = #{errCode,jdbcType=VARCHAR},
      ERR_CODE_DES = #{errCodeDes,jdbcType=VARCHAR},
      OPEN_ID = #{openId,jdbcType=VARCHAR},
      IS_SUBSCRIBE = #{isSubscribe,jdbcType=CHAR},
      TRADE_TYPE = #{tradeType,jdbcType=VARCHAR},
      BANK_TYPE = #{bankType,jdbcType=VARCHAR},
      TOTAL_FEE = #{totalFee,jdbcType=DECIMAL},
      FEE_TYPE = #{feeType,jdbcType=VARCHAR},
      CASH_FEE = #{cashFee,jdbcType=DECIMAL},
      CASH_FEE_TYPE = #{cashFeeType,jdbcType=VARCHAR},
      TRANSACTION_ID = #{transactionId,jdbcType=VARCHAR},
      OUTER_TRADE_NO = #{outerTradeNo,jdbcType=VARCHAR},
      TIME_END = #{timeEnd,jdbcType=VARCHAR},
      OUT_REFUND_NO = #{outRefundNo,jdbcType=VARCHAR},
      REFUND_FEE = #{refundFee,jdbcType=DECIMAL},
      TRADE_STATE = #{tradeState,jdbcType=VARCHAR}
    where LOG_ID = #{logId,jdbcType=DECIMAL}
  </update>
</mapper>