<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.gzesp.dao.persistence.TdSysDSTFGRPMapper" >
  <resultMap id="BaseResultMap" type="com.ai.gzesp.dao.beans.TdSysDSTFGRP" >
    <id column="STFGRP_ID" property="stfgrpId" jdbcType="DECIMAL" />
    <result column="STFGRP_NAME" property="stfgrpName" jdbcType="VARCHAR" />
    <result column="MERCHANT_ID" property="merchantId" jdbcType="DECIMAL" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="VALUES1" property="values1" jdbcType="VARCHAR" />
    <result column="VALUES2" property="values2" jdbcType="VARCHAR" />
    <result column="STFGRP_DESC" property="stfgrpDesc" jdbcType="VARCHAR" />
    <result column="STFGRP_STATE" property="stfgrpState" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    STFGRP_ID, STFGRP_NAME, MERCHANT_ID, UPDATE_STAFF, UPDATE_TIME, VALUES1, VALUES2, 
    STFGRP_DESC, STFGRP_STATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_D_STFGRP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SYS_D_STFGRP
    where STFGRP_ID = #{stfgrpId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SYS_D_STFGRP
    where STFGRP_ID = #{stfgrpId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    delete from SYS_D_STFGRP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.gzesp.dao.beans.TdSysDSTFGRP" >
    insert into SYS_D_STFGRP (STFGRP_ID, STFGRP_NAME, MERCHANT_ID, 
      UPDATE_STAFF, UPDATE_TIME, VALUES1, 
      VALUES2, STFGRP_DESC, STFGRP_STATE
      )
    values (#{stfgrpId,jdbcType=DECIMAL}, #{stfgrpName,jdbcType=VARCHAR}, #{merchantId,jdbcType=DECIMAL}, 
      #{updateStaff,jdbcType=DECIMAL}, #{updateTime,jdbcType=TIMESTAMP}, #{values1,jdbcType=VARCHAR}, 
      #{values2,jdbcType=VARCHAR}, #{stfgrpDesc,jdbcType=VARCHAR}, #{stfgrpState,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.gzesp.dao.beans.TdSysDSTFGRP" >
    insert into SYS_D_STFGRP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stfgrpId != null" >
        STFGRP_ID,
      </if>
      <if test="stfgrpName != null" >
        STFGRP_NAME,
      </if>
      <if test="merchantId != null" >
        MERCHANT_ID,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="values1 != null" >
        VALUES1,
      </if>
      <if test="values2 != null" >
        VALUES2,
      </if>
      <if test="stfgrpDesc != null" >
        STFGRP_DESC,
      </if>
      <if test="stfgrpState != null" >
        STFGRP_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stfgrpId != null" >
        #{stfgrpId,jdbcType=DECIMAL},
      </if>
      <if test="stfgrpName != null" >
        #{stfgrpName,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=DECIMAL},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="values1 != null" >
        #{values1,jdbcType=VARCHAR},
      </if>
      <if test="values2 != null" >
        #{values2,jdbcType=VARCHAR},
      </if>
      <if test="stfgrpDesc != null" >
        #{stfgrpDesc,jdbcType=VARCHAR},
      </if>
      <if test="stfgrpState != null" >
        #{stfgrpState,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" resultType="java.lang.Integer" >
    select count(*) from SYS_D_STFGRP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_D_STFGRP
    <set >
      <if test="record.stfgrpId != null" >
        STFGRP_ID = #{record.stfgrpId,jdbcType=DECIMAL},
      </if>
      <if test="record.stfgrpName != null" >
        STFGRP_NAME = #{record.stfgrpName,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantId != null" >
        MERCHANT_ID = #{record.merchantId,jdbcType=DECIMAL},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=DECIMAL},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.values1 != null" >
        VALUES1 = #{record.values1,jdbcType=VARCHAR},
      </if>
      <if test="record.values2 != null" >
        VALUES2 = #{record.values2,jdbcType=VARCHAR},
      </if>
      <if test="record.stfgrpDesc != null" >
        STFGRP_DESC = #{record.stfgrpDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.stfgrpState != null" >
        STFGRP_STATE = #{record.stfgrpState,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_D_STFGRP
    set STFGRP_ID = #{record.stfgrpId,jdbcType=DECIMAL},
      STFGRP_NAME = #{record.stfgrpName,jdbcType=VARCHAR},
      MERCHANT_ID = #{record.merchantId,jdbcType=DECIMAL},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=DECIMAL},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      VALUES1 = #{record.values1,jdbcType=VARCHAR},
      VALUES2 = #{record.values2,jdbcType=VARCHAR},
      STFGRP_DESC = #{record.stfgrpDesc,jdbcType=VARCHAR},
      STFGRP_STATE = #{record.stfgrpState,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.gzesp.dao.beans.TdSysDSTFGRP" >
    update SYS_D_STFGRP
    <set >
      <if test="stfgrpName != null" >
        STFGRP_NAME = #{stfgrpName,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        MERCHANT_ID = #{merchantId,jdbcType=DECIMAL},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="values1 != null" >
        VALUES1 = #{values1,jdbcType=VARCHAR},
      </if>
      <if test="values2 != null" >
        VALUES2 = #{values2,jdbcType=VARCHAR},
      </if>
      <if test="stfgrpDesc != null" >
        STFGRP_DESC = #{stfgrpDesc,jdbcType=VARCHAR},
      </if>
      <if test="stfgrpState != null" >
        STFGRP_STATE = #{stfgrpState,jdbcType=CHAR},
      </if>
    </set>
    where STFGRP_ID = #{stfgrpId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.gzesp.dao.beans.TdSysDSTFGRP" >
    update SYS_D_STFGRP
    set STFGRP_NAME = #{stfgrpName,jdbcType=VARCHAR},
      MERCHANT_ID = #{merchantId,jdbcType=DECIMAL},
      UPDATE_STAFF = #{updateStaff,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      VALUES1 = #{values1,jdbcType=VARCHAR},
      VALUES2 = #{values2,jdbcType=VARCHAR},
      STFGRP_DESC = #{stfgrpDesc,jdbcType=VARCHAR},
      STFGRP_STATE = #{stfgrpState,jdbcType=CHAR}
    where STFGRP_ID = #{stfgrpId,jdbcType=DECIMAL}
  </update>
</mapper>