<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.gzesp.dao.persistence.TdSysPCOUNTYMapper" >
  <resultMap id="BaseResultMap" type="com.ai.gzesp.dao.beans.TdSysPCOUNTY" >
    <result column="COUNTY_CODE" property="countyCode" jdbcType="CHAR" />
    <result column="COUNTY_NAME" property="countyName" jdbcType="VARCHAR" />
    <result column="EPARCHY_CODE" property="eparchyCode" jdbcType="CHAR" />
    <result column="PLATFORM_CODE" property="platformCode" jdbcType="VARCHAR" />
    <result column="ORDER_NUMBER" property="orderNumber" jdbcType="DECIMAL" />
    <result column="VALUES1" property="values1" jdbcType="VARCHAR" />
    <result column="VALUES2" property="values2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="condition" separator="or" >
        <if test="condition.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="condition.criterions" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.dateValue" >
                  and ${criterion.condition} #{criterion.value,jdbcType=TIMESTAMP}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    COUNTY_CODE, COUNTY_NAME, EPARCHY_CODE, PLATFORM_CODE, ORDER_NUMBER, VALUES1, VALUES2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_P_COUNTY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <delete id="deleteByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" >
    delete from SYS_P_COUNTY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.gzesp.dao.beans.TdSysPCOUNTY" >
    insert into SYS_P_COUNTY (COUNTY_CODE, COUNTY_NAME, EPARCHY_CODE, 
      PLATFORM_CODE, ORDER_NUMBER, VALUES1, 
      VALUES2)
    values (#{countyCode,jdbcType=CHAR}, #{countyName,jdbcType=VARCHAR}, #{eparchyCode,jdbcType=CHAR}, 
      #{platformCode,jdbcType=VARCHAR}, #{orderNumber,jdbcType=DECIMAL}, #{values1,jdbcType=VARCHAR}, 
      #{values2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.gzesp.dao.beans.TdSysPCOUNTY" >
    insert into SYS_P_COUNTY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="countyCode != null" >
        COUNTY_CODE,
      </if>
      <if test="countyName != null" >
        COUNTY_NAME,
      </if>
      <if test="eparchyCode != null" >
        EPARCHY_CODE,
      </if>
      <if test="platformCode != null" >
        PLATFORM_CODE,
      </if>
      <if test="orderNumber != null" >
        ORDER_NUMBER,
      </if>
      <if test="values1 != null" >
        VALUES1,
      </if>
      <if test="values2 != null" >
        VALUES2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="countyCode != null" >
        #{countyCode,jdbcType=CHAR},
      </if>
      <if test="countyName != null" >
        #{countyName,jdbcType=VARCHAR},
      </if>
      <if test="eparchyCode != null" >
        #{eparchyCode,jdbcType=CHAR},
      </if>
      <if test="platformCode != null" >
        #{platformCode,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=DECIMAL},
      </if>
      <if test="values1 != null" >
        #{values1,jdbcType=VARCHAR},
      </if>
      <if test="values2 != null" >
        #{values2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.gzesp.dao.beans.Criteria" resultType="java.lang.Integer" >
    select count(*) from SYS_P_COUNTY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_P_COUNTY
    <set >
      <if test="record.countyCode != null" >
        COUNTY_CODE = #{record.countyCode,jdbcType=CHAR},
      </if>
      <if test="record.countyName != null" >
        COUNTY_NAME = #{record.countyName,jdbcType=VARCHAR},
      </if>
      <if test="record.eparchyCode != null" >
        EPARCHY_CODE = #{record.eparchyCode,jdbcType=CHAR},
      </if>
      <if test="record.platformCode != null" >
        PLATFORM_CODE = #{record.platformCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNumber != null" >
        ORDER_NUMBER = #{record.orderNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.values1 != null" >
        VALUES1 = #{record.values1,jdbcType=VARCHAR},
      </if>
      <if test="record.values2 != null" >
        VALUES2 = #{record.values2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_P_COUNTY
    set COUNTY_CODE = #{record.countyCode,jdbcType=CHAR},
      COUNTY_NAME = #{record.countyName,jdbcType=VARCHAR},
      EPARCHY_CODE = #{record.eparchyCode,jdbcType=CHAR},
      PLATFORM_CODE = #{record.platformCode,jdbcType=VARCHAR},
      ORDER_NUMBER = #{record.orderNumber,jdbcType=DECIMAL},
      VALUES1 = #{record.values1,jdbcType=VARCHAR},
      VALUES2 = #{record.values2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>