<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd">
	
<!-- 	<context:component-scan base-package="com.ai.gzesp.dao" /> -->
	
	<!-- 扫描指定package下所有带有如@controller,@services,@resource,并把所注释的注册为Spring Beans,其他路径可以加,号分隔 -->
	<context:component-scan base-package="com.ai.wx.task, com.ai.wx.service" use-default-filters="false">
	 <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
	 </context:component-scan>  
	 
	<bean id="tdAurDAUTHINFODao" class="com.ai.gzesp.dao.service.TdAurDAUTHINFODao" />
<!-- 	<bean id="tdITFDWEIXINLOGDao" class="com.ai.gzesp.dao.service.TdITFDWEIXINLOGDao" /> -->
	
<!-- 	<task:scheduled-tasks>    -->
<!--     	<task:scheduled ref="wxTimeTask" method="run" cron="0 */3 * * * ?" />    -->
<!-- 	</task:scheduled-tasks>   -->
    
<!--     spring定时器	 -->
	<bean id="taskJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="wxTimeTask"/>
		<property name="targetMethod" value="run"/>
	</bean>
	
	<bean id="taskJob2" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="wxTimeTask"/>
		<property name="targetMethod" value="runBill"/>
	</bean>
	
	<bean id="OneTimeTask" class="org.springframework.scheduling.quartz.SimpleTriggerBean">  
        <property name="jobDetail" ref="taskJob" />  
		<property name="startDelay" value="30000"/>
		<property name="repeatCount" value="0"/>
    </bean>  
    
	
	<bean id="RepeatTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="taskJob">
		</property>
		<property name="cronExpression">
				<value>0 */30 * * * ?</value>
		</property>
	</bean>
	
	<bean id="RepeatTask2" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="taskJob2">
		</property>
		<property name="cronExpression">
				<value>0 0 10 * * ?</value>
		</property>
	</bean>

    <!-- 号码预占释放 定时任务 每隔半小时执行一次 -->    
	<bean id="releaseNumberJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="releaseNumberTask"/>
		<property name="targetMethod" value="doJob"/>
	</bean>
	
	<bean id="releaseNumberTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">  
        <property name="jobDetail" ref="releaseNumberJob" />  
		<property name="startDelay" value="60000"/><!-- 应用启动后延迟1分钟开始调度 -->  
		<property name="repeatInterval" value="1800000" /><!-- 每半小时 30*60*1000毫秒调度一次 -->  
    </bean> 
    
    <!-- 订单超半小时未支付 商品库存数量释放销量减一 定时任务 每隔半小时执行一次 -->    
	<bean id="reverseGoodsAmountJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="goodsAmountReverseTask"/>
		<property name="targetMethod" value="doJob"/>
	</bean>
	
	<bean id="reverseGoodsAmountTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">  
        <property name="jobDetail" ref="reverseGoodsAmountJob" />  
		<property name="startDelay" value="120000"/><!-- 应用启动后延迟2分钟开始调度 -->  
		<property name="repeatInterval" value="1800000" /><!-- 每半小时 30*60*1000毫秒调度一次 -->  
    </bean> 

    <!-- esp和一卡充系统 卡激活 ， 定时任务 esp循环调用激活接口，将系统未激活的卡激活，每天凌晨4点执行一次 -->    
	<bean id="activeCardsJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="rechargeService"/>
		<property name="targetMethod" value="activeCardsJob"/>
	</bean>
	
	<bean id="activeCardsTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
        <property name="jobDetail" ref="activeCardsJob" />  
		<property name="cronExpression" value="0 0 4 * * ?" /><!-- 每天凌晨4点执行一次 --> 
    </bean> 
        
    <!-- esp和一卡充系统 充值对账 ， 定时任务 esp循环调用对账接口，每天凌晨3点执行一次 -->    
	<bean id="checkBillJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="rechargeService"/>
		<property name="targetMethod" value="checkBillJob"/>
	</bean>
	
	<bean id="checkBillTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
        <property name="jobDetail" ref="checkBillJob" />  
		<property name="cronExpression" value="0 0 3 * * ?" /><!-- 每天凌晨3点执行一次 --> 
    </bean> 	
    
    <!-- 一卡充充值 和bss系统状态同步， 定时任务1 esp主动放req文件，每天凌晨1点执行一次 -->    
	<bean id="syncCardStatus2BssJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="rechargeService"/>
		<property name="targetMethod" value="syncCardStatus2BssJob"/>
	</bean>
	
	<bean id="syncCardStatus2BssTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
        <property name="jobDetail" ref="syncCardStatus2BssJob" />  
		<property name="cronExpression" value="0 0 1 * * ?" /><!-- 每天凌晨1点执行一次 --> 
    </bean>
    
    <!-- 一卡充充值 和bss系统状态同步， 定时任务2 bss给回执后esp读取resp文件，每天凌晨2点执行一次 -->    
	<bean id="syncCardStatus2BssRespJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="rechargeService"/>
		<property name="targetMethod" value="syncCardStatus2BssRespJob"/>
	</bean>
	
	<bean id="syncCardStatus2BssRespTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
        <property name="jobDetail" ref="syncCardStatus2BssRespJob" />  
		<property name="cronExpression" value="0 0 2 * * ?" /><!-- 每天凌晨2点执行一次 --> 
    </bean>    
    
    <!-- 宽带续约 和bss对账， 定时任务1 esp主动放req文件，每天凌晨1点执行一次 -->    
	<bean id="syncBandStatus2BssJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="bssBandService"/>
		<property name="targetMethod" value="syncBandStatus2BssJob"/>
	</bean>
	
	<bean id="syncBandStatus2BssTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
        <property name="jobDetail" ref="syncBandStatus2BssJob" />  
		<property name="cronExpression" value="0 0 1 * * ?" /><!-- 每天凌晨1点执行一次 --> 
    </bean>
    
    <!-- 宽带续约 和bss对账， 定时任务2 bss给回执后esp读取resp文件，每天凌晨2点执行一次 -->    
	<bean id="syncBandStatus2BssRespJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="bssBandService"/>
		<property name="targetMethod" value="syncBandStatus2BssRespJob"/>
	</bean>
	
	<bean id="syncBandStatus2BssRespTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
        <property name="jobDetail" ref="syncBandStatus2BssRespJob" />  
		<property name="cronExpression" value="0 0 2 * * ?" /><!-- 每天凌晨2点执行一次 --> 
    </bean>               	
		
 	 <!-- 定时列表 -->
	<bean id="myScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="OneTimeTask"/>
				<ref bean="RepeatTask"/>
				<ref bean="RepeatTask2"/>
				<ref bean="releaseNumberTrigger"/>
				<ref bean="reverseGoodsAmountTrigger"/>
				
				
<!-- 				<ref bean="activeCardsTrigger"/>
				<ref bean="checkBillTrigger"/>
				
				<ref bean="syncCardStatus2BssTrigger"/>
				<ref bean="syncCardStatus2BssRespTrigger"/>
				<ref bean="syncBandStatus2BssTrigger"/>
				<ref bean="syncBandStatus2BssRespTrigger"/> -->
			</list>
		</property>
	</bean>
    
</beans>
